.collection-item {
  width: 22%;
  height: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  .image {
    height: 95%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }
  .footer {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    opacity: 0.85;

    .custom-button {
      display: flex;
    }
  }
}
