.collection-item {
  width: 22%;
  height: 350px;
  .image {
    height: 95%;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }
  .footer {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
  }
}
